
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0 auto;
    color: white;
    font-family:sans-serif;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body,html{
    background: #FFA41B;
    margin: 0 auto;
    scrollbar-width: thin;
    scrollbar-width: 0.5px;
    scrollbar-color: #005882 white;
    overflow-x: hidden;
    font-family: "Exo", sans-serif;
    font-optical-sizing:auto;
    font-weight: 700;
    font-style: normal;
}
header{
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    position: static;
    position: sticky;
    color: white;
    -ms-zoom: 10fr;
    -webkit-nbsp-mode:space;
    position: fixed;
    z-index: 1;
 
}
#bar_nav{
    display: inline;
}
#logo{
    width: 161.8px;
    height: 100px;
    user-select: none;
}
#content{
    height: 14svh;
}
#c_logo{
    float: left;
    height: 100%;
    user-select: none;
    overflow: hidden;
    gap: none;
    padding: 0 0 0 20px;
    nav-up: root;
    scroll-padding-block-end: top;
    align-self: start;
}
#navigation{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    user-select: none;
}
img{user-select: none;}
.lien_page button{
    border: 0px;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 90px;
}
nav,button{
    text-shadow: 0 0 10px #FFA41B;
}
.liens_page{
    min-height: 200px;
    background: #ffa41b36;
}
#all_content{
    background: url("./templates/fonts/bg (1).jpeg") #005082 100% 100% no-repeat;
    background-size: 100% 100%;
    background-position: fixed;
    margin: 90px 0 0 0;
    height: 550px/**/;
    padding: 0 0px;
    text-transform: uppercase;
    z-index: 0;
    font-size:200%;
    animation: sliders cubic-bezier(0.95, 0.05, 0.795, 0.035) 60s infinite;
    transition: animation cubic-bezier(0.075, 0.82, 0.165, 1)  0.1s , background 0.5s;
}
div article h2{
    background: black;
    text-align: center;
    color: #FFA41B;
}
div article{
    min-height: 400px;
    background-color: white;
}
div article p{
    color: #005082;
    padding:  10px 15%;
    display: flex;
    text-align: justify;
}

.floue{
    height: 100%;
    width: 100%;
    background-color: #005082df;
    backdrop-filter: blur(0.1px);
    display:flex;
    align-items:center;
    justify-content:center;
    align-content:center;
    text-align:center;
    transition:  backdrop-filter cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.7s,background-color cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.7s;
}
.floue:hover,.floue:focus-visible{
    background: transparent;
    backdrop-filter: blur(0.1px);
}
@keyframes sliders {
    0%{
        background: url("./templates/fonts/bg (1).jpeg") transparent cover no-repeat;
        background-size: 100% 100%;
    }
    10%{
        background: url("./templates/fonts/bg (1).jpg") transparent cover no-repeat;
        background-size: 100% 100%;
    }
    20%{
        background: url("./templates/fonts/bg (2).jpg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
    30%{
        background: url("./templates/fonts/bg (3).jpg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
    40%{
        background: url("./templates/fonts/bg (4).jpg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
    50%{
        background: url("./templates/fonts/bg (5).jpg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
    60%{
        background: url("./templates/fonts/bg (6).jpg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
    70%{
        background: url("./templates/fonts/bg (7).jpg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
    80%{
        background: url("./templates/fonts/bg (8).jpg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
    90%{
        background: url("./templates/fonts/bg (9).jpg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
    100%{
        background: url("./templates/fonts/bg (1).jpeg") transparent 100% 100% no-repeat;
        background-size: 100% 100%;
    }
}
h1{
    color: rgb(46, 24, 24);
    font-weight: bolder;
    color: transparent;
    -webkit-background-clip: text;
    background: linear-gradient(to top, black,white, black);
    background-clip: text;
    text-shadow: 0 0 5px #FFA41B;
    overflow: hidden;
    gap: none;
    user-select: none;
    -moz-background-clip: text;
}
.articles ,.artcle{
    display: flex;
    align-items:center;
    justify-content:center;
    padding:1px 2px;
    width: 99.75%;
    background-color: white;
}
div[name=centrer]{
    margin: auto;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 2% 0;
}
div[name=centrer] .artcle{
    width: cover;
    min-height: 450px;
    background: #ccc/*#005082*/;
}
.artcle{
    text-align: center;
    background: #CCF/*#FFA41B #FFA41B*/;
    min-height:300px;
    margin:3px 4px;
    border-radius:5px;
}  
#marge{
    width: 90% ;
}
#ico_nav,#ico_nav img{
    display: none;
    width: 50px;
    border-radius: 10px;
} 
.liens_page,button{
    transition: background 0.7s;
}
div>button{
    width: 100%;
    height: 40px;
    background: transparent;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    border: 0px;
}
.liens_page :hover,button{
    background: #005082;
}
figure>div{
    background: red;
    background-size: 100% 100%;
}
.services_pic{
    height: 29cqmax;
    width: 28cqmax   ;
    background: #005082;
    background-size: 90% 90%;
    background-position-x: 50%;
    background-position-Y: 50%;
}

@media screen and (max-width:690px){
    body,html{
        background: #005882;
    }
    #bar_nav{
        display: none;
    }   
    #marge{
        width: auto;
    }
    #reduire{
        background: #005082;
    }
    #ico_nav,#ico_nav img{
        display: inline;
        width: 50px;
        border-radius: 10px;
    } 
    #ico_nav{        
        padding: 2px;
    }
    .articles,.artcle,div[name=centrer]{
        display: block;
        width: auto;
    }
    .article{
        min-height: 400px;
    }
    h1{
        font-size: 50%;
    }
    #all_content{
        height: 350px;
        top: 0px;
    }
    
    div[name=centrer]{
        display: block;
    }
    div[name=centrer] .artcle{
        min-height: 350px;
        background: #00508208;
        color: black;
        font-weight: bold;
    }
        
    .services_pic{
        height: 43cqmax;
        width: auto ;
        background: red;
    }
    button{
        color: white;

    }
    p,h2,h1{width: auto;}
    @keyframes sliders {
        0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100%{
            background-size: 100% 100%
        }   
    }
    @keyframes sliders {
        from,0%{
            background: url("./templates/fonts/bg (1).jpeg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        10%{
            background: url("./templates/fonts/bg (1).jpg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        20%{
            background: url("./templates/fonts/bg (2).jpg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        30%{
            background: url("./templates/fonts/bg (3).jpg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        40%{
            background: url("./templates/fonts/bg (4).jpg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        50%{
            background: url("./templates/fonts/bg (5).jpg") transparent 100% no-repeat;
            background-size: 100% 90%;
        }
        60%{
            background: url("./templates/fonts/bg (6).jpg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        70%{
            background: url("./templates/fonts/bg (7).jpg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        80%{
            background: url("./templates/fonts/bg (8).jpg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        90%{
            background: url("./templates/fonts/bg (9).jpg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
        to,100%{
            background: url("./templates/fonts/bg (1).jpeg") transparent 100% no-repeat;
            background-size: 100% 100%;
        }
    }
}
#images_slide{
    display:flex;
    justify-content: center;
    align-items: center;
}
.slider,.navigate_x{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    color:aqua;
    font-size: 120%;

}
.slider{
    color:red;
    background:orange;
    height:60svh;
    border: 1px solid #cca;
    width:90svh;
    margin:0%;
    border-radius:15px

}
.content{
    width:calc(920px*5);
    background:brown;
    height:100%;
    animation: 15s infinite slideuse alternate;
}
@keyframes slideuse{
    0%{
        transform:translateX(-0px)
    }
    19%{
        transform:translateX(-920px)
    }
    39%{
        transform:translateX(-1840px)
    }
    59%{
        transform:translateX(-2760px)
    }
    79%{
        transform:translateX(-3680px)
    }
    99%{
        transform:translateX(0)
    }
}
#images{
    width: 80% ;
    float:center;
    background: rgba(0,0,0,0.31);
    height:100%;
    overflow:hidden;
    width:calc(100%*1)

}
.slide{
    width:920px;
    height:100%;
    float:left
}
.navigate_x{
    text-align:center;
    height:100%;
    width:10%;
}
@media screen and  (max-width:690px){
    
.slider{
    height:300px;
    width: 100%;
}

.content{
    width:calc(420px*5);
    background:brown;
    height:100%;
    animation: 15s infinite slideuse alternate;
}

.slide{
    width:420px;
    height:100%;
    float:left
}
.content{
    width:calc(420px*5);
    background:brown;
    height:100%;
    animation: 15s infinite slideuse alternate;
}

#images_slide{
    display:flex;
    justify-content: center;
    align-items: center;
}
@keyframes slideuse{
    0%{
        transform:translateX(-0px)
    }
    19%{
        transform:translateX(-420px)
    }
    39%{
        transform:translateX(-840px)
    }
    59%{
        transform:translateX(-1260px)
    }
    79%{
        transform:translateX(-1680px)
    }
    99%{
        transform:translateX(0)
    }
}
}
