<div>
    <article class="Prestations">
        <h2>Présentations des services</h2>
        
        <div name="centrer">
            <hr><br>

            <article class="artcle" style="width: 100% auto;">
                <figure>
                    
                    <div class="services_pic" style="background: url(./templates/images/framework_bibliothèque.jpg) 100% 100% no-repeat;background-size:  90% 90%;background-position-x: 50%;background-position-Y: 50%;"></div>
                    <figcaption><button style="height:50px;width: 100%;border: 0;background: transparent;">iformer vous d'avantage sur ce service</button></figcaption>
                </figure>
            </article>
            
            <article class="artcle" style="width: 100% auto;">
                <figure>
                    
                    <div class="services_pic" style="background: url(./templates/images/machine_learning.jpg) 90% 90% no-repeat;background-size: 90% 90%;background-position-x: 50%;background-position-Y: 50%;"></div>
                    <figcaption><button style="height:50px;width: 100%;border: 0;background: transparent;">iformer vous d'avantage sur ce service</button></figcaption>
                </figure>
            </article>

            <article class="artcle" style="width: 100% auto;">
                <figure>
                    
                    <div class="services_pic" style="background: url(./templates/images/ai-technology-microchip-background-digital-transformation-concept.jpg) 90% 90% no-repeat;background-size: 90% 90%;background-position-x: 50%;background-position-Y: 50%;"></div>
                    <figcaption><button style="height:50px;width: 100%;border: 0;background: transparent;">iformer vous d'avantage sur ce service XS</button></figcaption>
                </figure>
            </article>

            <br><hr>
        </div>
        paragraphe contenant un petit texte
        <div name="centrer">
            <hr><br>

            <article class="artcle" style="width: 100% auto;">
                <figure>
                    <div class="services_pic" style="background: url(./templates/images/5467393_1687.jpg) 100% 100% no-repeat;background-size: 90% 90%;background-position-x: 50%;background-position-Y: 50%;"></div>
                    <figcaption><button style="height:50px;width: 100%;border: 0;background: transparent;">iformer vous d'avantage sur ce service</button></figcaption>
                </figure>
            </article>
            <article class="artcle" style="width: 100% auto;">
                <figure>
                    <div class="services_pic" style="background: url(./templates/images/FrontVsBack.jpg) 100% no-repeat;background-size: 90% 90%;background-position-x: 50%;background-position-Y: 50%;"></div>
                    <figcaption><button style="height:50px;width: 100%;border: 0;background: transparent;color: black;text-shadow: none;">iformer vous d'avantage sur ce service</button></figcaption>
                </figure>
            </article>
            
            <article class="artcle" style="width: 100% auto;">
                <figure>
                    
                    <div class="services_pic" style="background: url(./templates/images/framework_bibliothèque.jpg) 90% 90% no-repeat;background-size: 90% 90%;background-position-x: 50%;background-position-Y: 50%;border-radius: 5px;"></div>
                    <figcaption><button style="height:50px;width: 100%;border: 0;background: transparent;">iformer vous d'avantage sur ce service XS</button></figcaption>
                </figure>
            </article>

            <br><hr>
        </div>
        paragraphe contenant un petit texte

        <div name="centrer">
            <hr><br>
            <article class="artcle">
                1
            </article>
            <article class="artcle">
                1
            </article>
            <br><hr>
        </div>
        <div name="centrer">
            <article class="artcle">
                2
            </article>
            <article class="artcle">
                2
            </article>
            <br><hr>
        </div>
            
        <div name="centrer">
            <article class="artcle">
                
                <div class="slider">
                    <div class="navigate_x" id="prev">
                        <
                    </div>
                    <div id="images">
                        <div class="content">
                            <img src="./templates/fonts/bg (1).jpg" alt="academie_summer" class="slide">
                            <img src="./templates/fonts/bg (2).jpg" alt="academie_summer" class="slide">
                            <img src="./templates/fonts/bg (3).jpg" alt="academie_summer" class="slide">
                            <img src="./templates/fonts/bg (7).jpg" alt="academie_summer" class="slide">
                            <img src="./templates/fonts/bg (1).jpeg" alt="academie_summer" class="slide">
                            <img src="./templates/fonts/bg (9).jpg" alt="academie_summer" class="slide">
                        </div>
                    </div>
                    <div class="navigate_x" id="next">
                        >
                    </div>
                </div>

            </article>
            <br><hr>
        </div>
            
    </article>
</div>
<div class="articles">
    <article class="artcle">
        1a
    </article>
    <article class="artcle">
        2b
    </article>
    <article class="artcle">
        3c
    </article>
</div>